<footer>
    <div class="ewk_cont_footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2>Fundaciones</h2>
            <p>
              <a href="https://www.fundacionaquae.org/">Fundación Aquae</a>.
            </p>
            <p>
              <a href="https://www.cleanwaterfund.org/">Clean Water Fund</a>.
            </p>
            <p>
              <a href="https://globalwaterchallenge.org/">Global Water Challenge</a>.
            </p>
            <p>
              <a href="http://www.globalwaterleaders.org/">Global Water Leaders Group</a>.
            </p>
          </div>
        <div class="col-md-3">
          <h2>Recomendaciones </h2>
          <p>
            <a href="https://www.ecologiaverde.com/como-podemos-cuidar-el-agua-3079.html">Cómo podemos cuidar el agua</a>.
          </p>
          <p>
          <a href="hhttps://www.ecologiaverde.com/dia-mundial-del-agua-cuando-es-y-por-que-se-celebra-4344.html">Día Mundial del Agua: cuándo es y por qué se celebra</a>
          </p>
          <p>
          <a href="https://www.gob.mx/conagua/acciones-y-programas/tips-para-el-cuidado-del-agua-66112">Tips para el cuidado del Agua</a>
          </p>
        </div>
        <div class="col.md-3">
          <h2>Redes Sociales</h2>
          <a title="Facebook" href="https://www.facebook.com/profile.php?id=100091558865443"><img src="/img/facebook.png" alt="icono0" /></a>
          <a title="twiter" href="https://twitter.com/contaminaciond3?t=b84jAbQQ-Ib8dFu2zygpQw&s=09"><img src="/img/twiter.png" alt="icono1" /></a>
          <a title="instagram" href="https://www.instagram.com/contaminacion_del__agua/"><img src="/img/instagram.png" alt="icono2" /></a>
        </div>
        <div class="col.md-3">
        <a href="./terms">Terminos y Condiciones</a>
        </div>
        <div class="col.md-3">
          <a href="./privacity">Politica de Privacidad</a>
          </div>
      </div>
    </div>
  </div>
  </footer>
  <script src="../js/jquery.js"></script>
  <script src="../js/bootstrap.js"></script>
  <script src="../js/bootstrap.min.js"></script>