    <section>
        <div class="cwk_cont_banner">
            <div class="cwk_sombra">
                <h1>Contaminación del Agua</h1>
                <h2>Un problema Mundial</h2>
                <hr>
            </div>
        </div>
    </section>