<%- include('../template/cabecera',{tituloweb: "Cotaminación"}) %>
<%-  include('../template/navbar') %>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/style2.css">
<body>
  <hr>
  <hr>
  <hr>
    <section><h3 class="titulos">Sobreexplotación y contaminación</h3></section>
    <section id="subtitulo"><p>La sobreexplotación de los acuíferos es un grave problema que ha ido en aumento, pues en 1975 había 32 acuíferos en esta condición; en 2004 eran 104 y en 2019 eran 157.</p></section>
    <table id="mitabla">
      <thead class="cabecera">
      <tr class="rojo">
      <td class="bajo"> Año </td>
      <td class="medio"> Numero de acuiferos sobreexplotados </td>
      </tr>
      </thead>
      
      <tbody class="cuerpo">
      <tr>
      <td class="a"> 1975 </td>
      <td class="b"> 32 </td>
      </tr>
      <tr>
      <td class="a"> 1981 </td>
      <td class="b"> 36 </td>
      </tr>
      <tr>
        <td class="a"> 1985 </td>
        <td class="b"> 80 </td>
        </tr>
      <tr>
      <td class="a"> 2004 </td>
      <td class="b"> 104 </td>
      </tr>  
      <tr>
      <td class="a"> 2007 </td>
      <td class="b"> 101 </td>
      </tr>
      <tr>
      <td class="a"> 2010 </td>
      <td class="b"> 105 </td>
      </tr>
      <tr>
      <td class="a"> 2017 </td>
      <td class="b"> 105 </td>
      </tr>
      <tr>
      <td class="a"> 2019 </td>
      <td class="b"> 157 </td>
      </tr>
      </table>
      <section id="seccion1"><h4>Los mayores problemas de contaminacion se encuentran en:</h4></section>
      <h2 class="texto1">El Valle de México<img src="../img/presa1.jpg" class="izquierda"></h2>
      <h2 class="romper texto1">El Sistema Cutzamala<img src="../img/presa2.jpg" class="izquierda"></h2>
      <h2 class="romper texto1">La península de Baja California.<img src="../img/peninsula.jpg" class="izquierda"></h2>
      <h2 class="titulos romper">Calidad del agua Superficial</h2>
      <section id="imagen1"><img src="../img/porcentaje.png">
      <h6>Fuente:CONAGUA. Atlas del Agua en México 2018</h6></section>  
      <%-  include('../template/comentario') %> 
      <h3 class="titulos">Ultimas noticias</h3>
      <h4 class="noticias">México con 60% de agua contaminada, alertan</h4>
      <p class="noticias1">México se encuentra entre la escasez y la mala calidad del agua; la desigualdad social es una de las barreras para el acceso a agua frecuente y de calidad. Especialistas y organizaciones apuntan  que la escasez y la mala calidad del agua son los dos grandes problemas que enfrenta México, ya que según la Asociación Agua México el  A.C, 60% del agua en México está contaminada, al mismo tiempo que existe una inequidad en la distribución del servicio. En cuanto a la mala calidad del agua, la Comisión Nacional del Agua (Conagua) registró que de los 4,233 sitios estudiados, el 30.0% no cumple con la Demanda Bioquímica de Oxígeno (DBO5), Demanda Química de Oxígeno (DQO), Toxicidad y/o Enterococos.....<a href="https://laverdadnoticias.com/mexico/Mexico-con-60-de-agua-contaminada-alertan-20230321-0174.html">"Seguir leyendo"</a></p>
      <h4 class="noticias">Gobierno instalará planta tratadora de agua en Huejotzingo por contaminación del río Atoyac</h4>
      <p class="noticias1">Para reducir la contaminación que manifiesta el río Atoyac, el gobierno federal y estatal pactaron instalar una planta de tratamiento de aguas residuales, la cual tendrá colector y subcolectores, en la junta auxiliar de Santa Ana Xalmimilulco, municipio de Huejotzingo, anunció el gobernador de Puebla, Sergio Salomón Céspedes Peregrina......<a href="https://www.telediario.mx/comunidad/huejotzingo-planta-tratadora-contaminacion-rio-atoyac">Leer noticia completa</a></p>
      <h4 class="noticias">Sobreexplotación, escasez y contaminación del agua prenden alarmas en Puebla</h4>
      <p class="noticias1">Con una longitud aproximada de 200 kilómetros cuadrados, el río Atoyac nace en la Sierra Nevada del estado de Puebla, desciende y se interna al suroeste de Tlaxcala, hasta descargar sus aguas en la presa Valsequillo.Es actualmente el tercer río más contaminado del país ya que cada año presenta un mayor grado de polución. Y es que a pesar de que se han llevado a cabo esfuerzos por sanear al río, lo cierto es que han quedado solo en buenas intenciones hasta el momento.....<a href="https://tribunanoticias.mx/sobreexplotacion-escasez-y-contaminacion-del-agua-prenden-alarmas-en-puebla/">Continuar leyendo</a></p>
      <h4 class="noticias">Solo el 3% del agua en el planeta se puede consumir, recuerdan en el Día Mundial del Agua</h4>
      <p class="noticias1">Año con año, el Día Mundial del Agua se conmemora el 22 de marzo, con el fin de crear conciencia sobre la importancia de cuidar este recurso fundamental para la vida. 1.4 millones de personas mueren anualmente por falta de agua potable
        74 millones de personas reducirán su esperanza de vida por enfermedades relacionadas con el agua, el saneamiento y una higiene deficientes.
        Al día de hoy, 1 de cada 4 personas (2000 millones de personas) en todo el mundo carecen de agua potable segura.
        Casi la mitad de la población mundial (3600 millones de personas) carece de un saneamiento seguro....<a href="https://impactonoticias.com.mx/mexico/solo-el-3-del-agua-en-el-planeta-se-puede-consumir-recuerdan-en-el-dia-mundial-del-agua/">Continuar leyendo</a></p>
    <%-  include('../template/footer') %>
</html>