<%- include('../template/cabecera',{tituloweb: "Importancia"}) %>
<%-  include('../template/navbar') %>
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/style2.css">
<body>
    <br>
    <br>
    <br>
    <br>
    <h1 class="subtitulos_h3">La importancia del agua en los seres vivos</h1>
    <section>
        <div class="cwk_cont_banner_sec_1">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
              <h2>¿Por qué es importante?</h2>
              <p>El agua es uno de los recursos más presentes en los seres vivos. No se trata tan solo de la necesidad de beber, de hidratarse, sino que el agua es reguladora de los ecosistemas terrestres, manteniendo el equilibrio necesario para la subsistencia animal y vegetal. Entre sus fucniones destaca ser un auténtico regulador natural del clima. Sin el agua, esta estabilidad se debilitaría.</p>
              </div>
              <div class="col-md-8 cwk_cont_img text-center">
                <img src="img/importancia.jpg" height="400px" width="400px" class="img-fluid" alt="importancia">
              </div>
            </div>
          </div>
        </div>
    </section>
    
    <section>
        <h2 class="subtitulos_h2">La importancia del agua para el ser humano.</h2>
            <p class="textos_p">La importancia del agua  para el ser humano es evidente, en tanto que el porcentaje de agua en nuestro cuerpo casi alcanza las dos terceras partes. Está presente en los tejidos corporales y en los órganos vitales. Es un elemento fundamental para procesos corporales vitales. Sin beber agua no podríamos sobrevivir más allá de tres o cuatro días.

                El agua es esencial para el desarrollo de procesos orgánicos como la digestión, así como en la absorción y eliminación de desechos. Además, estructura el sistema circulatorio y distribuye nutrientes hacia todo el cuerpo a través de la sangre. Otros de los principales beneficios del agua para nuestro organismo son: mantiene la temperatura somática al eliminar el calor sobrante con su salida en forma de transpiración y vapor a través de la piel, alivia la fatiga, evita dolores de cabeza o reduce los riesgos de problemas cardíacos.</p>
            <img src="img/cuerpo.jpg "class="img-fluid" alt="cuerpo">
            </div>
            </div>
          </div>
      </section>
      <section>
        <h2 class="subtitulos_h2">El ciclo del agua, vital para los ecosistemas</h2>
            <p class="textos_p">El ciclo hidrológico es de gran importancia para los ecosistemas naturales y la regulación del clima. El agua está en continuo movimiento a través del cambio que efectúa en sus tres diferentes estados -líquido, sólido y vapor- y se encuentra tanto en la superficie terrestre como debajo de ella. La alteración del ciclo del agua, como está sucediendo con el cambio climático, supone también modificar la vida de los ecosistemas del planeta. Aunque el total del agua presente es relativamente constante, no lo es su disponibilidad. De ahí la necesidad de tener clara la importancia del agua para llevar a cabo una gestión adecuada y sostenible de su consumo que evite el agotamiento de este recurso y el estrés hídrico.</p>
            <img src="img/ciclo.jpg"  class="img-fluid" alt="ciclo">
            </div>
            </div>
          </div>
      </section>
      <section>
        <h2 class="subtitulos_h2">La importancia del agua para las plantas</h2>
            <p class="textos_p">La importancia del agua para las especies vegetales que componen nuestro medio natural es tal que un cuerpo vegetal está compuesto de ella en un 70-90%. Las plantas absorben el agua que procede de la lluvia, principalmente, aunque también puede ser a través del regadío. La mayor parte del agua que absorben se pierde a través de la transpiración y usan tan solo cerca del 1% para sus procesos bioquímicos. Pero sin agua, el mundo vegetal estaría expuesto a la extinción; y el planeta, a la sequía.</p>
            <img src="img/plantas.jpg"  class="img-fluid" alt="plantas">
            </div>
            </div>
          </div>
      </section>
      <%-  include('../template/comentario') %>
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script> 
    <%-  include('../template/footer') %>
</body>