<%- include('../template/cabecera',{tituloweb: "Politica de Privacidad"}) %>
<%-  include('../template/navbar') %>
<link rel="stylesheet" href="../css/style.css">
<br>
<br>
<br>
<body>
<h1 class="subtitulos_h2">Aceptación de los Términos y Condiciones</h1>
<h2 class="subtitulos_h3">Confidencialidad y seguridad</h2>
<p class="textos_p">
    Los datos personales de los usuarios serán tratados con total confidencialidad. Contaminación del agua informa que adoptará las medidas de índole técnica y organizativas necesarias para evitar la alteración, pérdida, tratamiento o acceso no autorizado de los datos, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos, ya provengan de la acción humana o del medio físico o natural. Sin embargo, no existe ningún sistema completamente seguro, por lo que Contaminación del agua no puede garantizar que los datos puedan estar totalmente protegidos en todo momento y bajo cualquier circunstancia ajena a Contaminación del agua.
</p>
<%-  include('../template/footer') %>
</body>
</html>