<%- include('../template/cabecera',{tituloweb: "Quines somos"}) %>
<%-  include('../template/navbar') %>
<link rel="stylesheet" href="../css/style.css">
<body>
    <br>
    <br>
    <br>
    <section>
        <div class="cwk_cont_banner_sec_1">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h2>Programación Declarativa</h2>
                <h3>Alumno:</h3>
                <p>Luis Enrique Gutirrez Rueda</p>
                <h3>Profesor:</h3>
                <p>Jorge Ignacio Perez Morales</p>
                <h3>Grupp; 1D</h3>
                <p>Licenciatura En Informática Administrativa </p>
              </div>
              <div class="col-md-8 cwk_cont_img text-center">
                  <img src= "img/logo.jpg"  class="img-fluid" alt="uaemex">
              </div>
            </div>
          </div>
      </section>

    <%-  include('../template/footer') %>
</body>