<%- include('../template/cabecera',{tituloweb: "Terminos y Condiciones"}) %>
<%-  include('../template/navbar') %>
<link rel="stylesheet" href="../css/style.css">
<br>
<br>
<br>
<body>
<h1 class="subtitulos_h2">
Aceptación de los Términos y Condiciones
</h1>
<p class="textos_p">
1 El acceso y/o uso del Sitio Web está supeditado a los Términos y Condiciones que se expresan a continuación, a la Política de Privacidad, así como a la legislación vigente, y atribuye a quien accede, utiliza y/o aporta Contenidos al mismo la condición de usuario.
</p>
<br>
<p class="textos_p">
2 Al acceder y/o utilizar el Sitio Web, el usuario acepta, sin reserva ni limitación, los presentes Términos y Condiciones y la Política de Privacidad.
</p>
<br>
<p class="textos_p">
3 En caso de no aceptar los presentes Términos y Condiciones, el usuario deberá abstenerse de acceder y/o utilizar el Sitio Web, debiendo abandonarlo inmediatamente.
</p>
<br>
<p class="textos_p">
4 El usuario no podrá utilizar el Sitio Web ni podrá aceptar los Términos y Condiciones si:
</p>
<br>
<p class="textos_p">
(a) no está legalmente capacitado para celebrar un contrato vinculante con Contaminación del Agua, o
</p>
<br>
<p class="textos_p">
(b) el acceso, la utilización y/o la provisión de Contenidos pudiera ser contraria a la legislación que resultara serle de aplicación.
</p>
<br>    
<p class="textos_p">
5 Contaminación del Agua se reserva la facultad de efectuar, en cualquier momento y sin necesidad de previo aviso, modificaciones y actualizaciones de la información contenida en el Sitio Web, así como de la configuración y presentación de ésta y de los términos y condiciones de acceso y uso a la misma. El usuario quedará obligado automáticamente por los términos y condiciones que se hallen vigentes en el momento en que acceda al Sitio Web, por lo que deberá leer periódicamente los presentes Términos y Condiciones.
</p>
<%-  include('../template/footer') %>
</body>
</html>